@use "global" as *;
.p-latest__wrapper {
  display: flex;
  padding: rem(12);
  background-color: #fff;
  opacity: .85;
  width: 100%;
  height: auto;
  @include mq("md") {
    padding: rem(16);
  }
}

.p-latest__tag {
  content: "";
  position: absolute;
  top: rem(8);
  left: rem(-8);
  background-color: $text-black;
  color: $text-white;
  padding: rem(7) rem(12) rem(3) rem(10);
  z-index: 1;
}

.p-latest__tag::after {
  content: "";
  position: absolute;
  top: 0;
  right: -14px;
  width: 0px;
  height: 0px;
  border-color: $text-black transparent;
  border-width: rem(18) rem(15) rem(16) 0;
  border-style: solid;
}

.p-latest__img img {
  aspect-ratio: 1;
  width: rem(100);
  height: auto;
  @include mq("md") {
    width: rem(120);
  }
}

.p-latest__body {
  flex: 1;
  padding-top: rem(9);
  padding-bottom: rem(9);
  margin-left: rem(16);
}

.p-latest__body time {
  font-size: rem(12);
  font-weight: $medium;
}

.p-latest__body h2 {
  font-size: rem(12);
  margin-top: rem(6);
  line-height: calc(18 / 12);
  letter-spacing: 0.012em;
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(24 / 14);
  }
}

