@use "global" as *;
.p-sub-menu__inner {
  padding-top: rem(60);
  padding-bottom: rem(160);
  @include mq("md") {
    padding-top: rem(82);
    padding-bottom: rem(170);
  }
}

.p-sub-menu__wrapper {
  max-width: rem(550);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    max-width: initial;
  }
}

.p-sub-menu__items {
  margin-top: rem(60);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: rem(11);
  grid-row-gap: rem(24);
  @include mq("md") {
    margin-top: rem(80);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-column-gap: rem(40);
    grid-row-gap: rem(40);
  }
}
