@use "global" as *;
.c-pagetop {
	position: fixed;
	bottom: rem(20);
	right: rem(20);
	z-index: 1000;
	width: rem(44);
	height: rem(44);
  border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: background 0.3s;
}

.c-pagetop::after {
	content: "";
	position: absolute;
	top: rem(18);
	left: rem(13);
	width: rem(17);
	height: rem(17);
	border-top: 3px solid $main-color;
	border-left: 3px solid $main-color;
	transform: rotate(45deg);
}

.c-pagetop a {
	display: block;
	width: 100%;
	height: 100%;
}