@use "global" as *;
.c-sub-head {
  text-align: center;
}

.c-sub-head-en,
.c-sub-head-ja {
  display: block;
  text-align: center;
  color: $text-white;
}

.c-sub-head-en {
  font-size: rem(32);
  font-family: $title-font-family;
  line-height: calc(41 / 32);
  letter-spacing: 0.2em;
  @include mq("md") {
    font-size: rem(72);
    line-height: calc(91 /72);
  }
}

.c-sub-head-ja {
  font-size: rem(12);
  line-height: calc(17 / 12);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(23 /16);
  }
}