@use "global" as *;
.c-wp-pagenavi {
  margin-top: rem(40);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .page,
.wp-pagenavi .smaller,
.wp-pagenavi .current {
  padding: rem(8) rem(16);
}

.current {
  color: $text-white;
  background-color: $main-color;
}

.pages {
  display: none;
}

.wp-pagenavi a {
  background-color: $text-white;
  margin-right: 0;
}

.wp-pagenavi a,
.wp-pagenavi span {
  margin-left: rem(12);
  border-radius: 50%;

  @include mq("md") {
    margin-left: rem(12);
  }
}

.wp-pagenavi a:hover,
.wp-pagenavi span:hover {
  color: #333;
  background-color: #fff;
}

.wp-pagenavi .current,
.wp-pagenavi .smaller,
.wp-pagenavi .larger {
  font-size: rem(16);
}

.wp-pagenavi .previouspostslink {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  @include mq("md") {
    padding: 0 rem(12);
    letter-spacing: 0.125em;
  }
}

.wp-pagenavi .nextpostslink {
  margin-left: rem(12);

  @include mq("md") {
    letter-spacing: 0.125em;
  }
}
